extends layout

block content

    div.parallax

        div.splash-section.parallax__layer.parallax__layer--back
            div#splash-image-wrap
                div.splash-text
                    div.splash-text-header
                        | Russell Trupiano
                    div.splash-text-tagline
                        | Programmer. // Hacker. // Photographer

        div.page-content-section.parallax__layer.parallax__layer--base
            div#all-content-wrap
                section.about-section

    div.color-test


