/*
 * Import nib
 */
@import 'nib'
@import 'rupture'
@import 'jeet'
@import 'axis'

// Fonts
@import url(http://fonts.googleapis.com/css?family=Open%20Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Raleway);

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-dark = #062D4E
main-dark-alt = #1996FF
main-accent = #FF9C00
main-accent-alt = #B26D00
offwhite = #eeeeee

// screen sizes
extralarge = 1400px
large = 1200px
mediumlarge = 1050px
medium = 850px
small = 650px
extrasmall = 500px

//Font sizes

content-large-title = 4em
content-title = 3em
content-large = 1.5em
content-medlarge = 1.35em
content-profile = 1.1em
content-normal = 1em
content-small = .85em
content-extrasmall = .6em

bg-size ()
    -webkit-background-size: arguments;
    -moz-background-size: arguments;
    -o-background-size: arguments;

.hidden
    display none
    height 0px
    width 0px
    height 0px
    overflow hidden

*
    margin 0
    padding 0

body
    background #000

.parallax
    height 100vh
    overflow-x hidden
    overflow-y auto
    perspective 1px

.parallax__layer
    position absolute
    top 0
    right 0
    bottom 0
    left 0

.parallax__layer--base
    transform translateZ(0)

.parallax__layer--back
    transform translateZ(-1px) scale(2)

.splash-section
    width 100%
    z-index -1
    cf();

    #splash-image-wrap
        box-sizing border-box
        width 100%
        height 100vh
        background-image url("../../img/home.png")
        background-position center
        background-size cover
        background-repeat no-repeat
        display table

        .splash-text
            color white
            width 100%
            height 33vh
            padding-top 33vh
            font-family 'Raleway'
            font-weight 300
            background rgba(0,0,0,0.15)

            .splash-text-header
                text-align center
                font-size content-large-title
                font-size 8vw
                padding-bottom 0.75em

            .splash-text-tagline
                text-align center
                font-size content-large
                font-size 2.5vw


.page-content-section
    border-top 1px solid rgb(180, 180, 180)
    box-shadow: 0px 0px 15px 0px rgba(41,41,41,1);
    margin-top 100vh
    display inline-block
    width 100%
    background rgba(200, 200, 200, 0.99)
    height 2000px
    z-index 10
    cf();

.color-test
    background main-accent
    height 7%
    position fixed
    bottom 0
    left 0
    width 100%
    cf()
// Navbar is 7% height and